In [80]:
import pandas as pd
import datapane as dp
import altair as alt
from vega_datasets import data
import plotly.express as px

In [84]:
df = pd.read_csv(r'C:\Users\User\Projetos análise de dados\analise-dados\Projetos\Filmes\netflix_titles.csv', encoding='utf-8')

In [66]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

In [69]:
dp.App.from_notebook().save("My App")

**Conversion failed**

Please ensure all cells in the notebook have been executed and saved before running the conversion.

In [75]:
# Criar uma visualização interativa a partir do dataframe
dp.Report(df).publish()

AttributeError: 'Report' object has no attribute 'publish'

In [74]:
!datapane login --token=935628682dd5fcad409d2a5f1291d158c5b5a863

Connected successfully to https://cloud.datapane.com as luckasz.mendes@gmail.com

In [77]:
df = data.cars()

plot1 = (
    alt.Chart(df)
    .mark_circle(size=60)
    .encode(
        x="Horsepower",
        y="Miles_per_Gallon",
        color="Origin",
        tooltip=["Name", "Origin", "Horsepower", "Miles_per_Gallon"],
    )
    .interactive()
)

app = dp.App(dp.Plot(plot1), dp.DataTable(df))
app.upload(name="My example app")

C:\Users\User\AppData\Local\Programs\Python\Python310\lib\site-packages\altair\utils\core.py:317: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for col_name, dtype in df.dtypes.iteritems():

Uploading app and associated data - *please wait...*

App successfully uploaded. View and share your app at <a href='https://cloud.datapane.com/apps/0AEnep3/my-example-app/' target='_blank'>here</a>.

In [81]:
# Criar um dataframe com dados de exemplo
df = pd.DataFrame({'Categorias': ['A', 'B', 'C', 'D'], 'Valores': [10, 20, 30, 40]})

# Criar um gráfico de barras usando o Plotly Express
fig = px.bar(df, x='Categorias', y='Valores')

# Adicionar o gráfico a um relatório no Datapane
dp.Report(dp.Plotly(fig)).publish()

AttributeError: module 'datapane' has no attribute 'Plotly'

In [86]:
df.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64