In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [3]:
df = pd.read_csv(r'C:\Users\User\Projetos análise de dados\analise-dados\Projetos\Titanic\train.csv')

In [4]:
df.isna().any()

PassengerId    False
Survived       False
Pclass         False
Name           False
Sex            False
Age             True
SibSp          False
Parch          False
Ticket         False
Fare           False
Cabin           True
Embarked        True
dtype: bool

In [5]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [6]:
#Eliminando colunas desnecessárias a análise
df.drop(['Cabin', 'Ticket', 'Embarked'],axis=1, inplace=True)

In [ ]:
df.isna().sum()

DICIONÁRIO DE DADOS



PassengerId - id do passageiro

Survived - Sobrevivente (0=NÃO , 1=SIM)

Pclass - CLASSE (1 , 2 OU 3)

Name - nome

Sex - sexo

Age - idade

SibSp - Irmãos/ conjugues a bordo

Parch - Pais/ Filhos a bordo

Fare - tarifa de passageiro

In [ ]:
#calculo a média, mediana e moda para verificar qual metodo uso na substituição de valores ausentes
df.Age.mean()

In [ ]:
df.Age.median()

In [ ]:
df.Age.mode()

In [ ]:
# Aplico a substituição dos ausentes com o valor da media
df.Age.fillna('29', inplace=True)

In [ ]:
df.isna().sum()

In [ ]:
df.info()

In [ ]:
#exporto o arquivo tratado para um novo arquivo onde será usado o Power BI
df.to_csv('titanic_limpo.csv')

## Considerações finais ##

Analisando a situação dos sobreviventes do Titanic foi possível identificar alguns pontos importantes sobre os 342 sobreviventes dentre os 891 passageiros. Apesar de possuir 35% de mulheres no navio, 74% delas foram salvas, priorizaram-nas.

Foi priorizado tambem os passageiros acima de 50 anos, representando 73% dos sobreviventes.
A condição econômica se comprovou ser um fator diferencial, onde 62% dos passageiros que embarcaram na primeira classe foram salvos, 47 % dos de segunda classe e 24% dos de terceira classe, denotando o impacto social/ econômico no resgate do navio.